@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
<div>
    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@
    <h5>Where possible, please include screen shots with your technical support requests.</h5>

    <address>
        <i class="icon-envelope"></i><strong>Technical Support:</strong>   <a href="mailto:Support@stanchem-inc.com">Support@stanchem-inc.com</a><br />
        <i class="icon-envelope"></i><strong>Administrator:</strong> <a href="mailto:Admin@stanchem-inc.com">Admin@stanchem-inc.com</a>
    </address>
</div>